*.gz filter=lfs diff=lfs merge=lfs -text
3M-february-2018.txt.gz !filter !diff !merge text
737K-april-2014_rc.txt.gz !filter !diff !merge text
737K-august-2016.txt.gz !filter !diff !merge text
737K-cratac-v1.txt.gz !filter !diff !merge text
translation_3M-february-2018.txt.gz !filter !diff !merge text
